html {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#000, #00f);
    font-family: 'MS Gothic', 'Consolas', 'Courier New', Courier, monospace;
    font-size: 20;
    color: whitesmoke;
}
h1, h2 {
    text-align: center;
}
h1, h2, h3, h4 {
    font-weight: bold;
    text-shadow: 2px 2px 2px blue;
}
h1 {
    font-size: 72;
}

h2 {
    font-size: 48;
}

h3 {
    font-size: 24;
}

hr {
    border: 3px solid whitesmoke;
}

.container {
    background: #0003;
    border: 3px solid white;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
}